<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Fashion made easy</title>
</head>
<body style="background-image: url(static/images/Homepage_image.png);">
    <div class="container">
        <!-- <image src="static/images/Homepage_image.png" class="Homepage_image"></image> -->
        <div class="text">Fashon finder<br>
            <div class="text2">Smart outfit finder</div>
        </div>
        
    </div>
</body>
</html>